<partial name="./_AdminHeader"/>
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
@model LidkopingsZoo.Models.ViewModels.EditAnimalsInfoViewModel
<form method="post" asp-controller="Admin" asp-action="EditAnimalMethod">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" placeholder="@Model.EditAnimal.Name"><br>

    <label for="desc">Description</label><br>
    <input type="text" id="desc" name="desc" placeholder="@Model.EditAnimal.Description = " The most handsome one""><br>

    <label for="age">Age</label><br>
    <input type="number" id="age" name="age" placeholder="@Model.EditAnimal.Age"><br>

    <label for="">Species</label><br>
    <select class="form-select" aria-label="Pick species" name="species" id="species-dropdown">
        @{
            int i = 0;
        }
        <option selected>@Model.EditAnimal.SpeciesName</option>
        @foreach (var Species in Model.Species[0])
        {
            <option value="@Model.Species[0][i]">@Model.Species[0][i]</option>
            i++;
        }
    </select><br>

    <button type="submit" class="btn btn-primary">Edit Animal</button>
</form>