@using LidkopingsZoo.Models.Elements
<link rel="stylesheet" href="~/css/tours.css" asp-append-version="true" />
@model LidkopingsZoo.Models.ViewModels.ToursViewModel
<!-- Title & Rules -->
<h1 class="title">Lidköpings Zoo</h1>
<h2 style="text-align:center;">Our Animals from the @Model.Animals[0][3] species</h2>
<h4 class="Rules">Heres a preview of all out individual animals in our @Model.Animals[0][3] species to continue and see qualified guides for this species please press contine directly below!</h4>
<h5 class="Rules"><a href="@Url.Action("AvailableGuides", "Guide", new { SpeciesName = @Model.Animals[0][3] })" style="color:blue;">Continue!</a></h5>
<!-- Page -->
<div class="gridV4">
    @{
        bool activation = true;
        //Type
        int t = -1;
    }
    @while (activation)
    {
        //Name
        int i = 0;
        //Desc
        int d = 1;
        //Age
        int a = 2;
        //Species
        int s = 3;
        //Habitat
        int h = 4;
        
        t++;
        try
        {
            while (activation)
            {
                if (t == 3)
                {
                    activation = false;
                    break;
                }
                foreach (var Animal in @Model.Animals[t])
                {
                    <!-- Foreach animal type -->
                    @if (@Model.Animals[t][h] == "1")
                    {
                        if (@Model.Animals[t][i] != null)
                        {
                            <div class="gridH4">
                                <div class="gridwindowsAIR">
                                    <h5 class="gridwindowstext">@Model.Animals[t][i]</h5>
                                    <h6 class="gridwindowstext">Species: @Model.Animals[t][s]</h6>
                                    <h6 class="gridwindowstext">Age: @Model.Animals[t][a]</h6>
                                    <h6 class="gridwindowstext">Description: @Model.Animals[t][d]</h6>
                                    <p class="gridwindowstext">This animal resides in the air habitat</p>
                                    <p class="gridwindowstext">@Air.IMove()</p>
                                    <p class="gridwindowstext">@Air.ISound()</p>
                                </div>
                                <div class="gridwindowsimg">
                                    <img class="imageimg" src="~/assets/Air.jpg" alt="" style="justify-content: center; align-self: center;">
                                </div>
                            </div>
                        }
                    }
                    @if (Model.Animals[t][h] == "2")
                    {
                        if (@Model.Animals[t][i] != null)
                        {
                            <div class="gridH4">
                                <div class="gridwindowsLAND">
                                    <h5 class="gridwindowstext">@Model.Animals[t][i]</h5>
                                    <h6 class="gridwindowstext">Species: @Model.Animals[t][s]</h6>
                                    <h6 class="gridwindowstext">Age: @Model.Animals[t][a]</h6>
                                    <h6 class="gridwindowstext">Description: @Model.Animals[t][d]</h6>
                                    <p class="gridwindowstext">This animal resides in the land habitat</p>
                                    <p class="gridwindowstext">@Land.IMove()</p>
                                    <p class="gridwindowstext">@Land.ISound()</p>
                                </div>
                                <div class="gridwindowsimg">
                                    <img class="imageimg" src="~/assets/Earth.jpg" alt="" style="justify-content: center; align-self: center;">
                                </div>
                            </div>
                        }
                    }
                    @if (Model.Animals[t][h] == "3")
                    {
                        if (@Model.Animals[t][i] != null)
                        {
                            <div class="gridH4">
                                <div class="gridwindowsWATER">
                                    <h5 class="gridwindowstext">@Model.Animals[t][i]</h5>
                                    <h6 class="gridwindowstext">Species: @Model.Animals[t][s]</h6>
                                    <h6 class="gridwindowstext">Age: @Model.Animals[t][a]</h6>
                                    <h6 class="gridwindowstext">Description: @Model.Animals[t][d]</h6>
                                    <p class="gridwindowstext">This animal resides in the water habitat</p>
                                    <p class="gridwindowstext"><a asp-controller="Tours" asp-action="" style="color:blue;">Book here now!</a></p>
                                    <p class="gridwindowstext">@Water.IMove()</p>
                                    <p class="gridwindowstext">@Water.ISound()</p>
                                </div>
                                <div class="gridwindowsimg">
                                    <img class="imageimg" src="~/assets/Water.jpg" alt="" style="justify-content: center; align-self: center;">
                                </div>
                            </div>
                        }
                    }
                    i = i + 5;
                    d = d + 5;
                    a = a + 5;
                    h = h + 5;
                    s = s + 5;
                }
            }
        }
        catch { }
    }
</div>